{% set platform_name = platform_name|default(console_name|default('OpenAction')) %}
{% set platform_logo = platform_logo_url|default(url('root_url')|trim('/') ~ console_logo|default(asset('res/logo/logo-dark.svg'))) %}
{% set platform_legal_name = console_email|default('OpenAction Foundation') %}
{% set platform_email = platform_email|default(console_email|default('contact@openaction.eu')) %}

{% apply inky_to_html|inline_css(source('@emails/inky.css'), source('@emails/custom.css')) %}
    {% block style '' %}

    <spacer size="16"></spacer>

    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>

                <a href="{{ url('homepage_redirect') }}">
                    <center>
                        <img src="{{ platform_logo }}" class="logo" alt="{{ platform_name }}" />
                    </center>
                </a>
            </columns>
        </row>
        <row>
            <columns>
                <spacer size="32"></spacer>

                {% block content '' %}

                <spacer size="16"></spacer>

                <p>
                    {{ 'transactional.greetings'|trans({'%platform%': platform_name}, 'emails', locale|default('en'))|raw }}
                </p>

                <spacer size="32"></spacer>

                <center>
                    <small>
                        {{ 'transactional.footer'|trans({'%platform%': platform_name}, 'emails', locale|default('en')) }}
                        <a href="mailto:{{ platform_email }}">{{ platform_email }}</a>.
                    </small>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
