{% extends 'layout.html.twig' %}

{% block page_title localized.title %}

{% block body_class 'body-petitions-view' %}

{% block petition_content %}
    <div class="user-content">
        <div class="petition-addressed-to">
            <div class="petition-addressed-to-label">
                {{ 'petition.addressed_to'|trans }}
            </div>
            {{ localized.addressed_to }}
        </div>

        {{ localized.content|apply_embed_consent }}
    </div>
{% endblock %}

{% block page %}
    <style>
        .petition .content-splash-title, .petition .content-splash-social-sharers {
            text-align: left;
        }
        .petition .content-splash-title {
            font-size: 30px;
        }
        .petition .content-splash-image {
            border-radius: 10px;
        }
        .petition .content-splash {
            padding-bottom: 0;
        }
        .petition-form {
            margin-top: 50px;
            box-shadow: 0 0 5px #ccc;
            border-radius: 10px;
        }
        .petition-form .user-form .form-group {
            padding: 0;
            background: transparent !important;
            border: 0 !important;
        }
        .petition-progress {
            text-align: center;
            margin-bottom: 15px;
            background: #444;
            color: #fff;
            border-radius: 10px 10px 0 0;
            padding: 20px;
        }
        .petition-count-number {
            font-size: 42px;
        }
        .petition-success {
            background: #e9f1e7;
            color: #30970d;
            padding: 7px 14px;
            margin: 15px 0;
            font-weight: bold;
            text-align: center;
        }
        .petition-form .user-form {
            padding: 0 20px 20px 20px;
        }
        .petition-progress-bar {
            background: #fff;
            height: 16px;
            border-radius: 10px;
            padding: 2px;
        }
        .petition-progress-bar-value {
            background: #fff;
            height: 12px;
            min-width: 12px;
            border-radius: 10px;
        }
        .petition-addressed-to {
            background: #f5f5f5;
            padding: 20px;
            font-size: 14px;
            line-height: 20px;
            border-radius: 10px;
        }
        .petition-addressed-to-label {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10px;
            color: #999;
        }
    </style>

    <div data-controller="citipo-contentview"
         data-citipo-contentview-type-value="petition"
         data-citipo-contentview-id-value="{{ petition.id }}"></div>

    <div class="petition container">
        <div class="row">
            <div class="col-lg-8">
                {% set social_sharers = include('_include/social_sharers.html.twig', {
                    'route': 'petition_view',
                    'params': {'slug': petition.slug, 'locale': localized.locale}
                }) %}

                {% set categories = {} %}
                {% for category in localized.categories %}
                    {% set categories = categories|merge({ (category.name): true }) %}
                {% endfor %}

                {% set payload = {
                    'item': petition.toArray,
                    'petition': petition.toArray,
                    'localized': localized.toArray,
                    'current_url': url('petition_view', {'slug': petition.slug, 'locale': localized.locale}),
                    'current_project': current_project.toArray,
                    'force_embed_consent': force_embed_consent,
                    'title': localized.title,
                    'description': localized.description|default(''),
                    'social_sharers': social_sharers,
                    'image': localized.image,
                    'categories': categories,
                    'read_time': localized.read_time,
                    'content': block('petition_content'),
                    'titleLabel': 'base.embed-consent.title'|trans,
                    'descriptionLabel': 'base.embed-consent.description'|trans,
                    'acceptLabel': 'base.embed-consent.accept'|trans,
                    'externalLabel': 'base.embed-consent.external'|trans,
                    'cancelLabel': 'base.embed-consent.cancel'|trans,
                    'section_id': 'petitions',
                    'default_list_image': asset('res/default.jpg'),
                } %}

                {% sandbox %}
                    {% include '@theme/content.html.twig' with payload %}
                {% endsandbox %}
            </div>
            <div class="col-lg-4">
                <div class="petition-form" data-aos="fade-up" data-aos-duration="600">
                    <div class="petition-progress">
                        <div class="petition-count mb-3">
                            <span class="petition-count-number">{{ petition.signatures_count|format_number }}</span>
                            <span class="petition-count-label">{{ 'petition.signatures'|trans }}</span>
                        </div>

                        <div>
                            <div class="mb-1">
                                {{ 'petition.next_goal'|trans }} : {{ nextGoal|format_number }}
                            </div>
                            <div class="petition-progress-bar">
                                <div class="petition-progress-bar-value bg-primary"
                                     style="width: {{ ((petition.signatures_count / nextGoal) * 100)|round }}%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="user-form user-form-{{ formData.id }}">
                        <h5>
                            {{ 'petition.sign_title'|trans }}
                        </h5>

                        {% if success %}
                            <div class="petition-success">
                                <span>{{ 'petition.success'|trans }}</span>
                            </div>
                        {% endif %}

                        {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
                        {{ form_errors(form) }}

                        {% for key, block in formData.blocks %}
                            <div class="user-form-field user-form-field-{{ block.type }}">
                                {% if 'header' == block.type %}
                                    <h4 class="m-0">
                                        {{ block.content|nl2br }}
                                    </h4>

                                {% elseif 'paragraph' == block.type %}
                                    <div class="user-content m-0">
                                        {{ block.content|nl2br }}
                                    </div>

                                {% elseif 'html' == block.type %}
                                    <div class="user-content m-0">
                                        {{ block.content|apply_embed_consent|raw }}
                                    </div>

                                {% elseif 'textarea' == block.type %}
                                    {{ form_row(form['field'~key], {'attr': {'rows': 5}}) }}

                                {% elseif 'rating' == block.type %}
                                    {{ form_row(form['field'~key], {
                                        'attr': {'class': 'form-rating'},
                                    }) }}

                                {% elseif 'newsletter' == block.type %}
                                    {{ form_row(form['field'~key], {'label': localized.optin_label}) }}

                                {% else %}
                                    {{ form_row(form['field'~key]) }}

                                {% endif %}
                            </div>
                        {% endfor %}

                        {% if form.privacy is defined %}
                            <div class="user-form-field">
                                {{ form_row(form.privacy, {'label': current_project.terminology.acceptPrivacy}) }}
                            </div>
                        {% endif %}

                        <div class="user-form-submit">
                            {% if captcha_challenge %}
                                <div class="cf-turnstile mb-2" data-sitekey="{{ captcha_challenge.siteKey }}"></div>
                            {% endif %}

                            <button type="submit" class="btn btn-primary btn-lg">
                                {{ localized.submit_button_label }}
                            </button>
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                        <div class="form-legalities user-form-legalities text-center">
                            {{ localized.legalities }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
