{% extends 'console/organization/base.html.twig' %}

{% block page_title 'telegram.index.page_title'|trans({}, 'organization_integrations') %}

{% block content %}
    <div class="world-box">
        <div class="world-box-title bg-white">
            <div class="row align-items-center">
                <div class="col-12 col-lg-9">
                    <a href="{{ path('console_organization_integrations', {'organizationUuid': current_organization.uuid}) }}"
                       class="btn btn-outline-primary btn-sm border-0">
                        <i class="fal fa-angle-left"></i>
                        <span>{{ 'back'|trans({}, 'organization_integrations') }}</span>
                    </a>

                    <h3 class="mt-2">
                        {{ 'telegram.index.page_title'|trans({}, 'organization_integrations') }}
                    </h3>

                    <div class="text-muted">
                        {{ 'telegram.index.help'|trans({}, 'organization_integrations') }}
                    </div>
                </div>
                <div class="col-12 col-lg-3 text-lg-right">
                    <a href="{{ path('console_organization_integrations_telegram_register', {'organizationUuid': current_organization.uuid}) }}"
                       class="btn btn-primary">
                        {{ 'telegram.index.register'|trans({}, 'organization_integrations') }}
                    </a>
                </div>
            </div>
        </div>

        <div class="bg-light p-3 p-lg-4">
            {% if apps|length > 0 %}
                <div class="mt-4">
                    {% for app in apps %}
                        <div class="world-block p-4 mb-4" id="app-{{ app.uuid }}">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <h5 class="mb-0">
                                        {{ app.botUsername }}
                                    </h5>
                                </div>

                                <div class="col-lg-6">
                                    <div class="text-right">
                                        <a href="{{ path('console_organization_integrations_telegram_details', {'uuid': app.uuid, 'organizationUuid': current_organization.uuid}) }}"
                                           class="btn btn-secondary mr-2">
                                            {{ 'telegram.index.details'|trans({}, 'organization_integrations') }}
                                        </a>

                                        <a href="{{ csrf_path('console_organization_integrations_telegram_delete', {'uuid': app.uuid, 'organizationUuid': current_organization.uuid}) }}"
                                           class="btn btn-danger"
                                           data-controller="delete"
                                           data-message="{{ 'telegram.index.delete_confirm'|trans({'%username%': app.botUsername}, 'organization_integrations') }}"
                                           data-target="#app-{{ app.uuid }}">
                                            {{ 'telegram.index.delete'|trans({}, 'organization_integrations') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="my-4 text-center text-muted">
                    {{ 'telegram.index.none'|trans({}, 'organization_integrations') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
