<div class="content mt-0">
    <div class="content-splash">
        {% if previewing_text|default(null) %}
            <div class="content-splash-previewing">
                {{ previewing_text }}
            </div>
        {% endif %}

        {% if section_name|default(null) %}
            <h3 class="content-splash-section text-left">
                {% if section_url|default(null) %}
                    <a href="{{ section_url }}">
                        {{ section_name }}
                    </a>
                {% else %}
                    {{ section_name }}
                {% endif %}
            </h3>
        {% endif %}

        <h1 class="content-splash-title text-left">
            {{ title }}
        </h1>

        {% if date|default(null) or categories|default([])|length > 0 %}
            <div class="content-splash-metadata justify-content-start">
                {% if date|default(null) %}
                    <div class="content-splash-metadata-published-at">
                        {{ date }}
                    </div>
                {% endif %}

                {% if categories|default([])|length > 0 %}
                    <div class="content-splash-metadata-categories">
                        {% for name, url in categories %}
                            <a href="{{ url }}">{{ name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if social_sharers|default(null) %}
            <div class="content-splash-social-sharers text-left">
                {{ social_sharers|raw }}
            </div>
        {% endif %}

        {% if video|default(null) %}
            {% if 'youtube' == video[0] %}
                <div class="content-splash-video"
                     style="background-image: url('https://i1.ytimg.com/vi/{{ video[1] }}/hqdefault.jpg')">
                    <iframe width="1110" height="705" frameborder="0"
                            src="https://www.youtube-nocookie.com/embed/{{ video[1] }}"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            {% elseif 'facebook' == video[0] %}
                <div class="content-splash-video">
                    <iframe width="1110" height="705" frameborder="0"
                            src="https://www.facebook.com/plugins/video.php?href=https://www.facebook.com/watch/?v={{ video[1] }}&show_text=false"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
        {% elseif image|default(null) %}
            <img src="{{ image }}" class="content-splash-image" />
        {% endif %}
    </div>

    <div class="content-publication">
        {{ content|raw }}
    </div>

    {% if more|default([])|length > 0 %}
        <div class="content-more">
            <div class="row justify-content-center">
                {% for other in more|default([]) %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="content-more-item box-offset">
                            <div class="content-more-item-thumbnail">
                                {% if other.video|default(null) %}
                                    <div class="list-items-item-video"
                                         style="background-image: url('https://i1.ytimg.com/vi/{{ other.video[1] }}/hqdefault.jpg')">
                                        <div class="list-items-item-video-icon"
                                             style="background: url('{{ play_icon }}') 50% 50% no-repeat transparent">
                                            <div class="list-items-item-video-inner" style="width: 1110px; height: 705px"></div>
                                        </div>
                                    </div>
                                {% else %}
                                    <img src="{{ other.image|default(default_list_image) }}"
                                         class="list-items-item-image" width="1700" height="1080" />
                                {% endif %}
                            </div>

                            <a href="{{ other.url }}" class="stretched-link list-items-item-link">
                                <h5 class="list-items-item-title">
                                    <span>{{ other.title }}</span>
                                </h5>
                            </a>

                            {% if other.date|default(null) %}
                                <div class="list-items-item-date">
                                    {{ other.date }}
                                </div>
                            {% endif %}

                            <div class="list-items-item-description">
                                {{ other.description }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
