{% extends 'security/base.html.twig' %}

{% block page_title 'forgot_password.reset.title'|trans({}, 'security') %}

{% block box %}
    {{ form_start(form) }}
        <div class="p-4">
            <h4 class="mb-3 text-center">{{ 'forgot_password.reset.title'|trans({}, 'security') }}</h4>

            <div class="text-muted text-center mb-4">
                {{ 'forgot_password.reset.desc'|trans({}, 'security') }}
            </div>

            {{ form_errors(form) }}

            {{ form_row(form.newPassword.first, {
                'attr': {'class': 'form-control-lg'},
                'label': 'forgot_password.reset.new_password'|trans({}, 'security')
            }) }}

            {{ form_row(form.newPassword.second, {
                'attr': {'class': 'form-control-lg'},
                'label': 'forgot_password.reset.confirm_password'|trans({}, 'security')
            }) }}

            <div class="text-center mt-5 mb-3">
                <button type="submit" class="btn btn-primary btn-block btn-lg">
                    {{ 'forgot_password.reset.submit'|trans({}, 'security') }}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
