{% extends 'member/area/base.html.twig' %}

{% block page_title 'membership.account.unregister.title'|trans %}

{% block membership_area_content %}
    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_errors(form) }}

    {% if saved %}
        <div class="text-center text-success mb-4">
            {{ 'membership.account.unregister.success'|trans }}
        </div>
    {% endif %}

    <p class="text-muted">
        {{ 'membership.account.unregister.desc'|trans }}
    </p>

    <div class="mt-5 text-center">
        <button type="submit" class="btn btn-primary mr-2">
            {{ 'membership.account.unregister.submit'|trans }}
        </button>

        <a href="{{ path('membership_area_account') }}" class="btn btn-outline-primary">
            {{ 'membership.account.unregister.cancel'|trans }}
        </a>
    </div>

    {{ form_end(form) }}
{% endblock %}
