{% extends 'console/organization/community/base.html.twig' %}

{% block page_title 'configure.tags.form.title_edit'|trans({}, 'organization_community') %}

{% block sidebar_tags 'current' %}

{% block content %}
    <div class="world-box mb-3">
        <h3 class="world-box-title">
            <a href="{{ path('console_organization_community_configure_tags', { 'organizationUuid': current_organization.uuid }) }}"
               class="btn btn-outline-primary btn-sm border-0 mb-2">
                <i class="fal fa-angle-left"></i>
                <span>{{ 'configure.tags.form.back'|trans({}, 'organization_community') }}</span>
            </a>

            <br />

            {{ 'configure.tags.form.title_edit'|trans({}, 'organization_community') }}
        </h3>

        <div class="bg-light">
            <div class="row justify-content-center py-5">
                <div class="col-12 col-md-9 col-lg-6">
                    {{ form_start(form) }}

                    {{ form_row(form.name, {'label': 'configure.tags.form.name'|trans({}, 'organization_community')}) }}

                    <button type="submit" class="btn btn-primary">
                        {{ 'configure.tags.form.save'|trans({}, 'organization_community') }}
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
