{% extends ea.templatePath('layout') %}

{% form_theme form with '@EasyAdmin/crud/form_theme.html.twig' only %}

{% block body_class 'ea-edit' %}

{% block content_title 'Register a domain' %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body with-background without-header without-footer">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.organization, {'attr': {'data-ea-widget': 'ea-autocomplete'}}) }}
            {{ form_row(form.name) }}

            <div class="text-center mt-4 mb-4">
                <button type="submit" class="btn bt-lg btn-primary">
                    Add the domain
                </button>
            </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
