{% extends ea.templatePath('layout') %}

{% form_theme form with '@EasyAdmin/crud/form_theme.html.twig' only %}

{% block content_title 'New organization' %}
{% block content_footer_wrapper '' %}

{% block main %}
    <div class="content-panel">
        <div class="content-panel-body with-background without-header without-footer">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.plan) }}

            <div class="text-center mt-4 mb-4">
                <button type="submit" class="btn bt-lg btn-primary">
                    Create the organization
                </button>
            </div>

            {{ form_rest(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
