{% set current_route = app.request.attributes.get('_route') %}
{% set current_route_params = app.request.attributes.get('_route_params') %}
{% set current_project = get_current_project() %}
{% set enable_links_animation = current_project.animateLinks and not (current_project.captchaSiteKey or current_project.captchaSecretKey) %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <base href="{{ app.request.getSchemeAndHttpHost() }}" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="turbo-cache-control" content="no-cache" />

    <title>{% block title %}{% block page_title '' %} | {{ current_project.metaTitle|default(current_project.name) }}{% endblock %}</title>

    {% for font in [current_project.fontTitle, current_project.fontText] %}
        <link href="https://fonts.citipo.com/css2?family={{ font|url_encode }}:ital,wght@0,400;0,700;0,800;1,400;1,700" rel="stylesheet" crossorigin="anonymous" />
    {% endfor %}

    <link rel="stylesheet" href="{{ current_project.links.stylesheet }}" />
    <link rel="stylesheet" href="{{ asset('icons/css/all.min.css') }}?v5" />
    {{ encore_entry_link_tags('app') }}

    <script defer src="{{ current_project.links.javascript }}"
            data-project="{{ current_project.id }}"
            data-stats-api="{{ current_project.links.analytics }}"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('ejs') }}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

    {# Animations #}
    {{ encore_entry_script_tags('turbo') }}
    {% if current_project.animateElements %}
        {{ encore_entry_script_tags('aos') }}
        {{ encore_entry_link_tags('aos') }}
        {{ encore_entry_link_tags('aoh') }}
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="referrer" content="origin" />
    {% block metas '' %}

    <link rel="canonical" href="{% block meta_canonical current_route ? url(current_route, current_route_params) : '' %}" />
    <meta name="description" content="{% block meta_description current_project.metaDescription|default(current_project.name) %}" />

    {% if current_project.icon %}
        <link rel="apple-touch-icon" sizes="256x256" href="{{ current_project.icon }}">
        <link rel="icon" href="{{ current_project.favicon }}">
    {% endif %}

    <meta name="msapplication-TileColor" content="#{{ current_project.primary }}">
    <meta name="theme-color" content="#{{ current_project.primary }}">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ block('meta_canonical') }}" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('meta_description') }}" />
    <meta property="og:image" content="{% block meta_image current_project.sharer|default('') %}" />
    <meta property="og:image:width" content="{% block meta_image_width 1200 %}" />
    <meta property="og:image:height" content="{% block meta_image_height 630 %}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    <meta name="twitter:description" content="{{ block('meta_description') }}" />
    <meta name="twitter:image" content="{{ block('meta_image') }}" />

    <link rel="alternate" type="application/rss+xml" title="{{ current_project.terminology.posts }}" href="{{ url('rss_feed') }}" />

    <script>
        UPLOADCARE_LOCALE = document.documentElement.lang;
        UPLOADCARE_SYSTEM_DIALOG = true;
        UPLOADCARE_CLEARABLE = true;
        UPLOADCARE_DO_NOT_STORE = false;
    </script>
    {% set payload = {'current_project': current_project} %}
    {% sandbox %}
        {% include '@theme/head.html.twig' with payload %}
    {% endsandbox %}
    <script defer src="{{ current_project.links.javascript_custom }}" data-project="{{ current_project.id }}"></script>
    <script defer async src="https://scripts.qomon.org/forms/v1/setup.js"></script>
</head>
<body class="{% block body_class '' %}"
      data-animate-links="{{ enable_links_animation ? '1' : '0' }}"
      data-current-url="{{ block('meta_canonical') }}">
    {% block body '' %}
</body>
</html>
