{% set permissionsColumns = {
    'website': {
        'pages': [
            'website_pages_manage',
            'website_pages_manage_categories',
        ],

        'posts': [
            'website_posts_manage_drafts',
            'website_posts_publish',
            'website_posts_manage_published',
            'website_posts_manage_categories',
        ],

        'documents': [
            'website_documents_manage',
        ],

        'trombinoscope': [
            'website_trombinoscope_manage_drafts',
            'website_trombinoscope_publish',
            'website_trombinoscope_manage_published',
            'website_trombinoscope_manage_categories',
        ],

        'manifesto': [
            'website_manifesto_manage_drafts',
            'website_manifesto_publish',
            'website_manifesto_manage_published',
        ],

        'stats': [
            'website_access_stats',
        ]
    },
    'community': {
        'contacts': [
            'community_contacts_view',
            'community_contacts_update',
            'community_contacts_delete',
            'community_contacts_tag_add',
        ],

        'emailing': [
            'community_emailing_manage_drafts',
            'community_emailing_send',
            'community_emailing_stats',
        ],

        'texting': [
            'community_texting_manage_drafts',
            'community_texting_send',
            'community_texting_stats',
        ],

        'phoning': [
            'community_phoning_manage_drafts',
            'community_phoning_manage_active',
            'community_phoning_stats',
        ],

        'printing': [
            'community_printing_manage_drafts',
            'community_printing_order',
            'community_printing_stats',
        ],

        'events': [
            'website_events_manage_drafts',
            'website_events_publish',
            'website_events_manage_published',
        ],

        'forms': [
            'website_forms_manage',
            'website_forms_access_results',
        ],

        'stats': [
            'community_access_stats',
        ],
    },
    'configuration': {
        'settings': [
            'project_config_appearance',
            'project_config_socials',
        ],

        'developer': [
            'project_developer_theme',
            'project_developer_redirections',
            'project_developer_access',
        ],
    },
} %}

{% set permissions = [] %}
{% for col in permissionsColumns %}
    {% set permissions = permissions|merge(col) %}
{% endfor %}

{% do expose('team_metadata_permissions', permissions) %}
{% do expose('team_metadata_projects', projects|map(p => p.uuid)) %}

<div data-controller="team--permissions">
    <div class="world-block mt-4 p-3">
        {{ form_errors(form.isAdmin) }}
        {{ form_widget(form.isAdmin, {
            'label': 'invite_member.is_admin'|trans({}, 'organization_team'),
            'attr': {'data-team--permissions-target': 'isAdmin'},
            'label_attr': {'class': 'checkbox-custom'},
        }) }}
    </div>

    {{ form_widget(form.projectsPermissions, {'attr': {'data-team--permissions-target': 'permissionsInput'}}) }}

    <div data-team--permissions-target="permissionsContainer" class="mt-4">
        <div class="px-2 mb-2">
            <strong>
                {{ 'invite_member.permissions'|trans({}, 'organization_team') }}
            </strong>
        </div>

        {% for project in projects %}
            <div class="world-block p-3 mb-3">
                <h5 class="mb-2">
                    {{ project.name }}
                </h5>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="{{ project.uuid }}-all"
                           data-team--permissions-target="permissionAll"
                           data-project="{{ project.uuid }}" />
                    <label class="custom-control-label" for="{{ project.uuid }}-all">
                        {{ 'permissions.check_all'|trans({}, 'organization_team') }}
                    </label>
                </div>

                <details>
                    <summary>{{ 'permissions.detailed_permissions'|trans({}, 'organization_team') }}</summary>

                    <div class="row">
                        {% for columnLabel, column in permissionsColumns %}
                            <div class="col-lg-4">
                                <div class="text-muted text-uppercase">
                                    {{ ('permissions.' ~ columnLabel)|trans({}, 'organization_team') }}
                                </div>

                                {% for section, permissions in column %}
                                    <div class="mt-3 mb-1">
                                        <small class="text-muted text-uppercase">
                                            {{ ('permissions.' ~ section)|trans({}, 'organization_team') }}
                                        </small>
                                    </div>

                                    {% for permission in permissions %}
                                        <div class="custom-control custom-checkbox mb-1">
                                            <input
                                                    type="checkbox"
                                                    class="custom-control-input"
                                                    id="{{ project.uuid }}-{{ permission }}"
                                                    value="{{ project.uuid }}-{{ permission }}"
                                                    {% if member is defined
                                                        and member.projectsPermissions.permission(project.uuid, permission) %}
                                                        checked="checked"
                                                    {% endif %}
                                                    data-team--permissions-target="permissionCheckbox"
                                                    data-project="{{ project.uuid }}"
                                                    data-permission="{{ permission }}" />
                                            <label class="custom-control-label" for="{{ project.uuid }}-{{ permission }}">
                                                {{ ('permissions.' ~ permission)|trans({}, 'organization_team') }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </details>
            </div>
        {% endfor %}
    </div>
</div>

{% if form.labels is defined %}
    <div class="mt-4 px-2 mb-2">
        <strong>
            {{ 'invite_member.labels.label'|trans({}, 'organization_team') }}
        </strong>
    </div>

    <div class="world-block p-3">
        <div data-controller="team--labels" style="height: 45px;" class="mb-1">
            {{ form_widget(form.labels, {'attr': {'data-team--labels-target': 'input'}}) }}
        </div>

        <small class="text-muted">
            {{ 'invite_member.labels.help'|trans({}, 'organization_team') }}
        </small>
    </div>
{% endif %}
