{% extends 'console/organization/base.html.twig' %}

{% block page_title 'permission_member.page_title'|trans({'%name%': member.member.fullName}, 'organization_team') %}

{% do expose('team_metadata_currentPermissions', member.getRawProjectsPermissions()) %}

{% block content %}
    {{ form_start(form) }}

    <div class="world-box">
        <div class="world-box-title bg-white sticky-top">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <a href="{{ path('console_organization_team', {'organizationUuid': current_organization.uuid}) }}"
                       class="btn btn-outline-primary btn-sm border-0">
                        <i class="fal fa-angle-left"></i>
                        <span>{{ 'permission_member.back'|trans({}, 'organization_team') }}</span>
                    </a>

                    <h3 class="mt-2">
                        {{ 'permission_member.title'|trans({'%name%': member.member.fullName}, 'organization_team') }}
                    </h3>

                    <div class="text-muted">
                        {{ member.member.email }}
                    </div>
                </div>
                <div class="col-12 col-lg-4 text-lg-right">
                    <div class="d-flex align-items-center justify-content-lg-end">
                        <a class="btn btn-secondary text-danger"
                           href="{{ csrf_path('console_organization_team_remove', {'organizationUuid': organization.uuid, 'uuid': member.uuid }) }}"
                           data-controller="delete"
                           data-message="{{ 'permission_member.remove_confirm'|trans({'%name%': member.member.fullName}, 'organization_team') }}"
                           data-target="#member-{{ member.id }}"
                           data-target-url="{{ path('console_organization_team', {'organizationUuid': organization.uuid}) }}"
                        >
                            {{ 'permission_member.button_remove'|trans({}, 'organization_team') }}
                        </a>

                        <button type="submit" class="btn btn-primary ml-3">
                            {{ 'permission_member.button'|trans({}, 'organization_team') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light p-3 p-lg-4">
            {{ form_errors(form) }}

            {{ include('console/organization/team/_permissions_form.html.twig') }}

            <div class="mt-5 text-center">
                <button type="submit" class="btn btn-lg btn-primary">
                    {{ 'permission_member.button'|trans({}, 'organization_team') }}
                </button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
