<div class="social-sharers">
    {% if current_project.socialSharers.facebook %}
        <a href="{{ facebook_url(route, params|default({})) }}"
           title="{{ 'share.facebook'|trans }}" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}

    {% if current_project.socialSharers.twitter %}
        <a href="{{ twitter_url(route, params|default({})) }}"
           title="{{ 'share.twitter'|trans }}" target="_blank" rel="noreferrer noopener">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
        </a>
    {% endif %}

    {% if current_project.socialSharers.linkedin %}
        <a href="{{ linkedin_url(route, params|default({})) }}"
           title="{{ 'share.linkedin'|trans }}" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-linkedin-in"></i>
        </a>
    {% endif %}

    {% if current_project.socialSharers.telegram %}
        <a href="{{ telegram_url(route, params|default({})) }}"
           title="{{ 'share.telegram'|trans }}" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-telegram-plane"></i>
        </a>
    {% endif %}

    {% if current_project.socialSharers.whatsapp %}
        <a href="{{ whatsapp_url(route, params|default({})) }}"
           title="{{ 'share.whatsapp'|trans }}" target="_blank" rel="noreferrer noopener">
            <i class="fab fa-whatsapp"></i>
        </a>
    {% endif %}

    {% if current_project.socialSharers.email %}
        <a href="{{ mail_url(route, params|default({})) }}"
           title="{{ 'share.email'|trans }}" target="_blank" rel="noreferrer noopener">
            <i class="fas fa-envelope"></i>
        </a>
    {% endif %}
</div>
