{% extends 'console/project/base.html.twig' %}

{% block page_title 'index.title'|trans({}, 'project_trombinoscope') %}

{% block sidebar_trombinoscope 'current' %}

{% from 'console/_macros/pagination.html.twig' import pagination %}

{% block content %}
    <div class="world-box mb-3">
        <div class="world-box-title">
            <div class="row align-items-center">
                <div class="col-lg-8 mb-3 mb-lg-0">
                    <h3>
                        {{ 'index.title'|trans({}, 'project_trombinoscope') }}
                    </h3>

                    <div class="text-muted">
                        {{ 'index.help'|trans({}, 'project_trombinoscope') }}
                    </div>
                </div>
                <div class="col-lg-4 text-lg-right">
                    <a href="{{ path('console_website_trombinoscope_categories', { 'projectUuid': current_project.uuid }) }}"
                       class="btn btn-secondary mr-2 trombinoscope-list-action-categories">
                        <i class="fad fa-cogs mr-1"></i>
                        {{ 'index.edit_categories'|trans({}, 'project_trombinoscope') }}
                    </a>

                    <a href="{{ csrf_path('console_website_trombinoscope_create', { 'projectUuid': current_project.uuid }) }}"
                       class="btn btn-primary trombinoscope-list-action-create">
                        <i class="far fa-plus mr-1"></i>
                        {{ 'index.create'|trans({}, 'project_trombinoscope') }}
                    </a>
                </div>
            </div>
        </div>

        <div class="bg-light">
            {% if persons|length == 0 %}
                <div class="text-center p-5">
                    <div class="my-4">
                        <h4 class="mb-4">
                            {{ 'index.no_result'|trans({}, 'project_trombinoscope') }}
                        </h4>

                        <a href="{{ csrf_path('console_website_trombinoscope_create', {'projectUuid': current_project.uuid}) }}"
                           class="btn btn-lg btn-primary trombinoscope-list-action-create">
                            <i class="far fa-plus mr-1"></i>
                            {{ 'index.no_result_create'|trans({}, 'project_trombinoscope') }}
                        </a>
                    </div>
                </div>
            {% else %}
                <div data-controller="sortable"
                     data-endpoint="{{ path('console_website_trombinoscope_sort', {'projectUuid': current_project.uuid}) }}">

                    <div data-sortable-target="element" class="world-list">
                        {% for person in persons %}
                            <div class="world-list-row p-4" id="person-{{ person.id }}" data-id="{{ person.id }}">
                                <div class="row align-items-center">
                                    <div class="col-lg-auto">
                                        <i class="fas fa-arrows-alt world-table-sortable-icon handle"></i>
                                    </div>

                                    <div class="col-lg-auto d-none d-lg-block">
                                        <div class="world-list-image">
                                            <img src="{{ cdn_image_url(person.image, 'res/images/default-person.jpg') }}"
                                                 alt="{{ person.fullName }}" />
                                        </div>
                                    </div>

                                    <div class="col-lg">
                                        <h4 class="mb-1">
                                            <a href="{{ path('console_website_trombinoscope_edit', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}">
                                                {{ person.fullName }}
                                            </a>
                                        </h4>

                                        <div class="mb-2">
                                            <div class="world-badge world-badge-info mr-2">
                                                {{ person.weight }}
                                            </div>

                                            {% if person.publishedAt and person.publishedAt >= date() %}
                                                <div class="world-badge world-badge-info mr-2">
                                                    {{ 'index.scheduled'|trans({}, 'project_trombinoscope') }}
                                                </div>
                                                <small class="font-italic text-muted">
                                                    {{ 'index.scheduled_for'|trans({'%datetime%': person.publishedAt|format_datetime('medium', 'short')}, 'project_trombinoscope') }}
                                                </small>
                                            {% elseif person.publishedAt and person.publishedAt < date() %}
                                                <div class="world-badge world-badge-success mr-2">
                                                    {{ 'index.published'|trans({}, 'project_trombinoscope') }}
                                                </div>
                                                <small class="font-italic text-muted">
                                                    {{ 'index.published_at'|trans({'%datetime%': person.publishedAt|format_datetime('medium', 'short')}, 'project_trombinoscope') }}
                                                </small>
                                            {% else %}
                                                <div class="world-badge world-badge-warning">
                                                    {{ 'index.draft'|trans({}, 'project_trombinoscope') }}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="text-muted">
                                            <small>
                                                <i class="fad fa-chart-area mr-1"></i>
                                                {{ person.pageViews }}
                                                {{ 'index.visits'|trans({}, 'project_trombinoscope') }}

                                                <span class="mx-1">|</span>

                                                {{ 'index.last_modified'|trans({'%datetime%': person.updatedAt|format_datetime('medium', 'short')}, 'project_trombinoscope') }}
                                            </small>
                                            <br />
                                            <small>
                                                {{ person.categories|join(', ') }}
                                            </small>
                                        </div>
                                    </div>

                                    <div class="col-lg-auto">
                                        <a href="{{ path('console_website_trombinoscope_view', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}"
                                           class="btn btn-sm btn-outline-primary border-0 mr-2 trombinoscope-list-action-view" target="_blank">
                                            <i class="fas fa-search mr-1"></i>
                                            {% if person.isPublished %}
                                                {{ 'index.view'|trans({}, 'project_trombinoscope') }}
                                            {% else %}
                                                {{ 'index.preview'|trans({}, 'project_trombinoscope') }}
                                            {% endif %}
                                        </a>

                                        <a href="{{ path('console_website_trombinoscope_edit', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}"
                                           class="btn btn-sm btn-outline-primary border-0 mr-2 trombinoscope-list-action-edit">
                                            <i class="fad fa-edit mr-1"></i>
                                            {{ 'index.edit'|trans({}, 'project_trombinoscope') }}
                                        </a>

                                        <a href="{{ csrf_path('console_website_trombinoscope_duplicate', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}"
                                           class="btn btn-sm btn-outline-primary border-0 mr-2 trombinoscope-list-action-duplicate">
                                            <i class="fad fa-copy mr-1"></i>
                                            {{ 'index.duplicate'|trans({}, 'project_trombinoscope') }}
                                        </a>

                                        {% if is_granted('website_trombinoscope_manage_published', current_project) %}
                                            <a href="{{ path('console_website_trombinoscope_move', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}"
                                               class="btn btn-sm btn-outline-primary border-0 mr-2 trombinoscope-list-action-move">
                                                <i class="fad fa-share mr-1"></i>
                                                {{ 'index.move'|trans({}, 'project_trombinoscope') }}
                                            </a>
                                        {% endif %}

                                        <a href="{{ csrf_path('console_website_trombinoscope_delete', {'uuid': person.uuid, 'projectUuid': current_project.uuid}) }}"
                                           data-controller="delete"
                                           data-message="{{ 'index.remove_confirm'|trans({'%name%': person.fullName}, 'project_trombinoscope') }}"
                                           data-target="#person-{{ person.id }}"
                                           class="btn btn-sm btn-outline-danger border-0 trombinoscope-list-action-delete">
                                            <i class="fad fa-trash mr-1"></i>
                                            {{ 'index.delete'|trans({}, 'project_trombinoscope') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
