{% extends 'console/project/base.html.twig' %}

{% block page_title 'Edit petition (' ~ localized.locale ~ ')' %}

{% block sidebar_posts '' %}

{% do expose('endpoints', {
    'content': path('console_website_petition_localized_update_content', {'projectUuid': petition.project.uuid, 'uuid': localized.uuid}),
    'metadata': path('console_website_petition_localized_update_metadata', {'projectUuid': petition.project.uuid, 'uuid': localized.uuid}),
    'image': path('console_website_petition_localized_update_image', {'projectUuid': petition.project.uuid, 'uuid': localized.uuid}),
    'parent': path('console_website_petition_localized_update_parent', {'projectUuid': petition.project.uuid, 'uuid': localized.uuid}),
    'shareUrl': domain_share_url(petition.project, 'petition', petition.uuid|toBase62, petition.slug),
}) %}

{% set categoriesIds = localized.categories|map(c => c.id) %}
{% set authorsIds = petition.authors|map(a => a.id ~ '') %}

{% do expose('petition_localized_metadata', {
    'description': localized.description,
    'submitButtonLabel': localized.submitButtonLabel,
    'optinLabel': localized.optinLabel,
    'addressedTo': localized.addressedTo,
    'image': localized.image ? cdn_image_url(localized.image) : localized.image,
    'categories': categories,
    'categoryIds': categoriesIds,
}) %}

{% do expose('petition_parent_metadata', {
    'slug': petition.slug,
    'startAt': petition.startAt ? petition.startAt.format('Y-m-d\\TH:i:sP') : null,
    'endAt': petition.endAt ? petition.endAt.format('Y-m-d\\TH:i:sP') : null,
    'signaturesGoal': petition.signaturesGoal,
    'publishedAt': petition.publishedAt ? petition.publishedAt.format('Y-m-d\\TH:i:sP') : null,
    'availableAuthors': availableAuthors,
    'authorsIds': authorsIds,
}) %}

{% block stylesheets %}
    <link href="https://fonts.citipo.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link href="{{ asset('contentbuilder/contentbuilder/contentbuilder.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('contentbuilder/assets/ionicons/css/ionicons.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block head_javascripts %}
    <script type="text/javascript" src="{{ asset('contentbuilder/contentbuilder/contentbuilder.min.js') }}?v2"></script>
    <script type="text/javascript" src="{{ asset('contentbuilder/assets/minimalist-blocks/content.js') }}"></script>
{% endblock %}

{% block javascripts encore_entry_script_tags('editor') %}

{% block content %}
    <div class="world-box mb-3"
         data-controller="petition--edit"
         data-sharer="1">
        <div class="world-box-status">
            <div class="row align-items-center">
                <div class="col-12 col-lg-auto">
                    <a href="{{ path('console_website_petitions', {'projectUuid': current_project.uuid}) }}"
                       class="btn btn-outline-primary btn-sm border-0">
                        <i class="fal fa-angle-left"></i>
                        <span>Back to petitions</span>
                    </a>

                    <a href="#" class="btn btn-outline-primary btn-sm border-0 ml-2" aria-disabled="true">
                        <i class="fas fa-eye mr-1"></i>
                        View on website
                    </a>

                    {# Switch language dropdown #}
                    {% set existing_locales = petition.localizations|map(l => l.locale) %}
                    {% set all_locales = ['fr','en','de','it','nl','pt'] %}
                    {% set missing_locales = all_locales|filter(l => l not in existing_locales) %}

                    <div class="dropdown d-inline-block ml-2">
                        <button type="button" class="btn btn-outline-primary btn-sm border-0 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fad fa-language mr-1"></i>
                            {{ localized.locale|upper }}
                        </button>
                        <ul class="dropdown-menu">
                            {% for loc in petition.localizations %}
                                {% if loc.uuid != localized.uuid %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('console_website_petition_localized_edit', {
                                            'projectUuid': current_project.uuid,
                                            'uuid': loc.uuid
                                        }) }}">
                                            {{ loc.locale|upper }} — {{ loc.title ?: 'Untitled' }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if missing_locales|length > 0 %}
                                <li><hr class="dropdown-divider"></li>
                                {% for l in missing_locales %}
                                    <li>
                                        <a class="dropdown-item" href="{{ csrf_path('console_website_petition_localized_create', {
                                            'projectUuid': current_project.uuid,
                                            'uuid': petition.uuid,
                                            'locale': l
                                        }) }}">Create {{ l|upper }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-auto ml-lg-auto">
                    <div data-petition--edit-target="topbar">
                        <div class="d-none">
                            {{ form_widget(form.title, {'attr': {'data-petition--edit-target': 'title'}}) }}
                            {{ form_widget(form.content, {'attr': {'data-petition--edit-target': 'content'}}) }}
                            {{ form_widget(form.description, {'attr': {'data-petition--edit-target': 'description'}}) }}
                            {{ form_widget(form.submitButtonLabel, {'attr': {'data-petition--edit-target': 'submitButtonLabel'}}) }}
                            {{ form_widget(form.optinLabel, {'attr': {'data-petition--edit-target': 'optinLabel'}}) }}
                            {{ form_widget(form.addressedTo, {'attr': {'data-petition--edit-target': 'addressedTo'}}) }}
                            {{ form_widget(form.categories, {'attr': {'data-petition--edit-target': 'categories'}}) }}
                            {{ form_widget(image_form.file, {'attr': {'data-petition--edit-target': 'image'}}) }}
                            {{ form_widget(parent_form.slug, {'attr': {'data-petition--edit-target': 'parentSlug'}}) }}
                            {{ form_widget(parent_form.startAt, {'attr': {'data-petition--edit-target': 'parentStartAt'}}) }}
                            {{ form_widget(parent_form.endAt, {'attr': {'data-petition--edit-target': 'parentEndAt'}}) }}
                            {{ form_widget(parent_form.signaturesGoal, {'attr': {'data-petition--edit-target': 'parentSignaturesGoal'}}) }}
                            {{ form_widget(parent_form.authors, {'attr': {'data-petition--edit-target': 'parentAuthors'}}) }}
                            {{ form_widget(parent_form.publishedAt, {'attr': {'data-petition--edit-target': 'parentPublishedAt'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-4 p-lg-5">
            <div class="text-center">
                <input type="text" class="editor-title" value="{{ localized.title }}" id="petition-title" />
            </div>

            <div class="editor-container">
                <div class="editor-content"
                     data-petition--edit-target="editor"
                     data-upload-url="{{ path('console_website_petition_localized_upload_image', {'projectUuid': current_project.uuid, 'uuid': localized.uuid}) }}"
                     id="petition-editor">{{ localized.content|raw }}</div>
            </div>
        </div>
    </div>
{% endblock %}
