{% extends 'console/project/base.html.twig' %}

{% block page_title 'create.title'|trans({}, 'project_events') %}

{% block sidebar_events 'current' %}

{% block content %}
    <div class="world-box mb-3">
        <div class="world-box-status">
            <div class="row align-items-center">
                <div class="col-12 col-lg-auto">
                    <a href="{{ path('console_website_events', {'projectUuid': current_project.uuid}) }}"
                       class="btn btn-outline-primary btn-sm border-0">
                        <i class="fal fa-angle-left"></i>
                        <span>{{ 'create.back'|trans({}, 'project_events') }}</span>
                    </a>

                </div>
            </div>
        </div>

        <div class="p-3 p-lg-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.title, {
                        'label': 'create.form.title.label'|trans({}, 'project_events'),
                        'help': 'create.form.title.help'|trans({}, 'project_events'),
                        'attr': {'class': 'form-control-lg'},
                    }) }}

                    <div class="text-uppercase text-muted mt-4 mb-2">
                        {{ 'create.form.details'|trans({}, 'project_events') }}
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            {{ form_row(form.beginAt, {
                                'label': 'create.form.beginAt.label'|trans({}, 'project_events'),
                                'help': 'create.form.beginAt.help'|trans({}, 'project_events'),
                            }) }}
                        </div>
                        <div class="col-lg-6">
                            {{ form_row(form.timezone, {
                                'label': 'create.form.timezone.label'|trans({}, 'project_events'),
                            }) }}
                        </div>
                    </div>

                    <div>
                        {{ form_row(form.address, {
                            'label': 'create.form.address.label'|trans({}, 'project_events'),
                            'help': 'create.form.address.help'|trans({}, 'project_events'),
                        }) }}

                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}
                    </div>

                    <div class="text-uppercase text-muted mt-4 mb-2">
                        {{ 'create.form.content.label'|trans({}, 'project_events') }}
                    </div>

                    {{ form_row(form.content, {
                        'label': false,
                        'help': 'create.form.content.help'|trans({}, 'project_events'),
                    }) }}

                    <div data-controller="event--create-form">
                        {{ form_row(form.hasForm, {
                            'label': 'create.form.hasForm.label'|trans({}, 'project_events'),
                            'help': 'create.form.hasForm.help'|trans({}, 'project_events'),
                            'attr': {'data-event--create-form-target': 'hasForm'}
                        }) }}

                        <div data-event--create-form-target="cta" style="display: none">
                            <div class="text-uppercase text-muted mt-4 mb-2">
                                {{ 'create.form.button.title'|trans({}, 'project_events') }}
                            </div>

                            <div class="mb-3">
                                <small class="form-text text-muted">
                                    {{ 'create.form.button.help'|trans({}, 'project_events') }}
                                </small>
                            </div>

                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    {{ form_row(form.buttonText, {
                                        'label': 'create.form.buttonText.label'|trans({}, 'project_events'),
                                        'help': 'create.form.buttonText.help'|trans({}, 'project_events'),
                                    }) }}
                                </div>
                                <div class="col-12 col-lg-7">
                                    {{ form_row(form.url, {
                                        'label': 'create.form.buttonUrl.label'|trans({}, 'project_events'),
                                        'help': 'create.form.buttonUrl.help'|trans({}, 'project_events'),
                                    }) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-4 mb-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {{ 'create.form.submit'|trans({}, 'project_events') }}
                        </button>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
