{% extends 'console/project/base.html.twig' %}

{% block page_title 'accounts.title'|trans({}, 'project_socials') %}

{% block sidebar_socials_accounts 'current' %}

{% block content %}
    <div class="world-box mb-3">
        <div class="world-box-title">
            <h3>
                {{ 'accounts.title'|trans({}, 'project_socials') }}
            </h3>

            <div class="text-muted">
                {{ 'accounts.help'|trans({}, 'project_socials') }}
            </div>
        </div>

        <div class="bg-light p-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fas fa-envelope fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.email, {'label': 'accounts.email'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fas fa-phone fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.phone, {'label': 'accounts.phone'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.facebook, {'label': 'accounts.facebook'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fa-brands fa-x-twitter fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.twitter, {'label': 'accounts.twitter'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.instagram, {'label': 'accounts.instagram'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-linkedin fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.linkedIn, {'label': 'accounts.linkedIn'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-youtube fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.youtube, {'label': 'accounts.youtube'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-medium fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.medium, {'label': 'accounts.medium'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-telegram fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.telegram, {'label': 'accounts.telegram'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-snapchat-ghost fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.snapchat, {'label': 'accounts.snapchat'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fab fa-whatsapp fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.whatsapp, {'label': 'accounts.whatsapp'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fa-brands fa-tiktok fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.tiktok, {'label': 'accounts.tiktok'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fa-brands fa-threads fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.threads, {'label': 'accounts.threads'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" style="width: 25px" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.bluesky, {'label': 'accounts.bluesky'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto text-center mb-3">
                            <i class="fa-brands fa-mastodon fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.mastodon, {'label': 'accounts.mastodon'|trans({}, 'project_socials')}) }}
                        </div>
                    </div>

                    <div class="text-center mt-4 mb-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {{ 'accounts.submit'|trans({}, 'project_socials') }}
                        </button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
