{% extends 'console/project/base.html.twig' %}

{% block page_title 'accounts.title'|trans({}, 'project_socials') %}

{% block sidebar_socials_accounts 'current' %}

{% block content %}
    <div class="world-box mb-3">
        <div class="world-box-title">
            <h3>
                {{ 'accounts.title'|trans({}, 'project_socials') }}
            </h3>

            <div class="text-muted">
                {{ 'accounts.help'|trans({}, 'project_socials') }}
            </div>
        </div>

        <div class="bg-light p-4">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-1 mt-auto mb-3">
                            <i class="fas fa-envelope fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.email, {'label': 'accounts.email'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.facebook, {'label': 'accounts.facebook'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-twitter fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.twitter, {'label': 'accounts.twitter'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.instagram, {'label': 'accounts.instagram'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-linkedin fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.linkedIn, {'label': 'accounts.linkedIn'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-youtube fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.youtube, {'label': 'accounts.youtube'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-medium fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.medium, {'label': 'accounts.medium'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-telegram fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.telegram, {'label': 'accounts.telegram'|trans({}, 'project_socials')}) }}
                        </div>
                        <div class="col-1 mt-auto mb-3">
                            <i class="fab fa-snapchat-ghost fa-2x fa-fw"></i>
                        </div>
                        <div class="col-11">
                            {{ form_row(form.snapchat, {'label': 'accounts.snapchat'|trans({}, 'project_socials')}) }}
                        </div>
                    </div>

                    <div class="text-center mt-4 mb-4">
                        <button type="submit" class="btn btn-lg btn-primary">
                            {{ 'accounts.submit'|trans({}, 'project_socials') }}
                        </button>
                    </div>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
