{% extends 'console/project/base.html.twig' %}

{% block page_title 'content.title'|trans({'%title%': campaign.subject}, 'project_emailings') %}

{% block sidebar_emailing 'current' %}

{% block content %}
    <div class="world-box mb-3" style="min-width: 1024px;">
        <div class="world-box-status border-0">
            <div class="row align-items-center">
                <div class="col-12 col-lg-auto">
                    <a href="{{ path('console_community_emailing', {'projectUuid': current_project.uuid}) }}"
                       class="btn btn-outline-primary btn-sm border-0">
                        <i class="fal fa-angle-left"></i>
                        <span>{{ 'content.back'|trans({}, 'project_emailings') }}</span>
                    </a>
                </div>
                <div class="col-12 col-lg-auto ml-lg-auto">
                    <div class="d-flex justify-content-end align-items-center">
                        <div id="campaign-editor-status"></div>

                        <div class="ml-3">
                            <a href="{{ path('console_community_emailing_preview', {'projectUuid': current_project.uuid, 'uuid': campaign.uuid}) }}"
                               class="btn btn-secondary btn-sm" target="_blank">
                                <i class="far fa-eye"></i>
                                <span>{{ 'content.preview'|trans({}, 'project_emailings') }}</span>
                            </a>

                            <a href="{{ path('console_community_emailing_metadata', {'projectUuid': current_project.uuid, 'uuid': campaign.uuid}) }}"
                               class="btn btn-secondary btn-sm ml-1" target="_blank">
                                <i class="fad fa-cogs"></i>
                                <span>{{ 'content.metadata'|trans({}, 'project_emailings') }}</span>
                            </a>

                            <a href="{{ path('console_community_emailing_send_test', {'projectUuid': current_project.uuid, 'uuid': campaign.uuid}) }}"
                               class="btn btn-primary btn-sm ml-1">
                                <i class="fas fa-paper-plane"></i>
                                <span>{{ 'content.send'|trans({}, 'project_emailings') }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="world-box-title bg-light">
            <h3 class="mb-0">
                {{ campaign.subject }}
            </h3>
        </div>

        <div {{ react_component('Project/Community/EmailCampaignEditor', {
            projectId: unlayer_project_id,
            design: campaign.unlayerDesign,
            saveUrl: path('console_community_emailing_content_update', {'projectUuid': campaign.project.uuid, 'uuid': campaign.uuid}),
            uploadUrl: path('console_community_emailing_content_upload_images', {'projectUuid': current_project.uuid, 'uuid': campaign.uuid}),
            statusNode: '#campaign-editor-status',
            statusLabels: {
                saving: 'status.saving'|trans({}, 'global'),
                saved: 'status.saved'|trans({}, 'global'),
                error: 'status.error'|trans({}, 'global'),
            },
            appearance: {
                fontTitle: current_project.websiteFontTitle,
                fontText: current_project.websiteFontText,
                colorPrimary: current_project.appearancePrimary,
                colorSecondary: current_project.appearanceSecondary,
                colorThird: current_project.appearanceThird,
            },
            labels: {
                defaultText: 'content_editor.defaults.text'|trans({}, 'global'),
                defaultTitle: 'content_editor.defaults.title'|trans({}, 'global'),
            },
            mergeTags: {
                id: { value: '-contact-id-', name: 'content_editor.merge_tags.id'|trans({}, 'global') },
                email: { value: '-contact-email-', name: 'content_editor.merge_tags.email'|trans({}, 'global') },
                phone: { value: '-contact-phone-', name: 'content_editor.merge_tags.phone'|trans({}, 'global') },
                formaltitle: { value: '-contact-formaltitle-','name': 'content_editor.merge_tags.formaltitle'|trans({}, 'global') },
                firstname: { value: '-contact-firstname-', name: 'content_editor.merge_tags.firstname'|trans({}, 'global') },
                lastname: { value: '-contact-lastname-', name: 'content_editor.merge_tags.lastname'|trans({}, 'global') },
                fullname: { value: '-contact-fullname-', name: 'content_editor.merge_tags.fullname'|trans({}, 'global') },
                gender: { value: '-contact-gender-', name: 'content_editor.merge_tags.gender'|trans({}, 'global') },
                nationality: { value: '-contact-nationality-', name: 'content_editor.merge_tags.nationality'|trans({}, 'global') },
                company: { value: '-contact-company-', name: 'content_editor.merge_tags.company'|trans({}, 'global') },
                jobtitle: { value: '-contact-jobtitle-','name': 'content_editor.merge_tags.jobtitle'|trans({}, 'global') },
                streetline1: { value: '-contact-streetline1-','name': 'content_editor.merge_tags.streetline1'|trans({}, 'global') },
                streetline2: { value: '-contact-streetline2-','name': 'content_editor.merge_tags.streetline2'|trans({}, 'global') },
                zipcode: { value: '-contact-zipcode-', name: 'content_editor.merge_tags.zipcode'|trans({}, 'global') },
                city: { value: '-contact-city-', name: 'content_editor.merge_tags.city'|trans({}, 'global') },
                country: { value: '-contact-country-', name: 'content_editor.merge_tags.country'|trans({}, 'global') },
            },
        }) }} class="unlayer-editor" id="campaign-editor"></div>
    </div>
{% endblock %}
