{% extends 'console/organization/base.html.twig' %}

{% block page_title 'expired.title'|trans({}, 'organization') %}

{% block content %}
    <div class="pb-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="text-center mt-5 pt-5 mb-4">
                    <h4 class="text-center mb-4">
                        {{ 'expired.title'|trans({}, 'organization') }}
                    </h4>

                    <div class="text-muted mb-2">
                        {{ 'expired.end_date'|trans({'%date%': current_organization.subscriptionCurrentPeriodEnd|format_date}, 'organization') }}
                    </div>

                    <div class="text-muted mb-5">
                        {{ 'expired.data'|trans({}, 'organization') }}
                    </div>

                    <div class="mb-2">
                        {{ 'expired.ask_citipo'|trans({}, 'organization') }}
                    </div>

                    <a href="mailto:{{ platform_email }}" class="btn btn-primary">
                        {{ platform_email }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
