{% extends 'console/organization/community/base.html.twig' %}

{% block page_title 'automation.disabled.title'|trans({}, 'organization_community') %}

{% block sidebar_automation 'current' %}

{% block content %}
    <div class="world-box mb-3">
        <div class="world-box-title">
            <a href="{{ path('console_organization_community_automation', {'organizationUuid': current_organization.uuid}) }}"
               class="btn btn-outline-primary btn-sm border-0">
                <i class="fal fa-angle-left"></i>
                <span>{{ 'automation.back'|trans({}, 'organization_community') }}</span>
            </a>

            <h3 class="mt-2 mb-0">
                {{ 'automation.disabled.title'|trans({}, 'organization_community') }}
            </h3>
        </div>

        <div class="bg-light">
            {% if automations|length == 0 %}
                <div class="text-center p-5">
                    <h4 class="my-4">
                        {{ 'automation.index.no_records'|trans({}, 'organization_community') }}
                    </h4>
                </div>
            {% else %}
                <div class="world-list">
                    {% for automation in automations %}
                        <div class="world-list-row py-3 px-4">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <strong>
                                        {{ automation.name }}
                                    </strong>

                                    <div class="text-muted">
                                        {{ ('automation.index.trigger.'~automation.trigger)|trans({}, 'organization_community') }}
                                    </div>
                                </div>
                                <div class="col-lg-8 text-right">
                                    <a href="{{ path('console_organization_community_automation_preview', {'organizationUuid': current_organization.uuid, 'uuid': automation.uuid}) }}"
                                       class="btn btn-sm btn-outline-primary border-0 mr-1" target="_blank">
                                        <i class="fas fa-eye mr-1"></i>
                                        {{ 'automation.index.preview'|trans({}, 'organization_community') }}
                                    </a>

                                    <a href="{{ path('console_organization_community_automation_content', {'organizationUuid': current_organization.uuid, 'uuid': automation.uuid}) }}"
                                       class="btn btn-sm btn-outline-primary border-0 mr-2">
                                        <i class="far fa-text mr-1"></i>
                                        {{ 'automation.index.edit_content'|trans({}, 'organization_community') }}
                                    </a>

                                    <a href="{{ path('console_organization_community_automation_metadata', {'organizationUuid': current_organization.uuid, 'uuid': automation.uuid}) }}"
                                       class="btn btn-sm btn-outline-primary border-0 mr-2">
                                        <i class="fad fa-cogs mr-1"></i>
                                        {{ 'automation.index.edit_details'|trans({}, 'organization_community') }}
                                    </a>

                                    <a href="{{ csrf_path('console_organization_community_automation_enable', {'organizationUuid': current_organization.uuid, 'uuid': automation.uuid }) }}"
                                       data-controller="delete"
                                       data-message="{{ 'automation.disabled.enable_confirm'|trans({'%name%': automation.name}, 'organization_community') }}"
                                       data-delete-label="{{ 'automation.disabled.enable_label'|trans({}, 'organization_community') }}"
                                       data-target-url="{{ path('console_organization_community_automation', {'organizationUuid': current_organization.uuid}) }}"
                                       class="btn btn-sm btn-secondary">
                                        <i class="fad fa-bell mr-1"></i>
                                        {{ 'automation.disabled.enable'|trans({}, 'organization_community') }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
