{% extends 'emails/base.html.twig' %}

{% block content %}
    <h2>
        {{ 'transactional.notification.subscription_expiration.title'|trans({
            '%organization%': organization_name,
            '%days_left%': days_left,
        }, 'emails', locale|default('en')) }}
    </h2>

    <spacer size="16"></spacer>

    <p>
        {{ 'transactional.notification.subscription_expiration.desc'|trans({
            '%organization%': organization_name,
            '%days_left%': days_left,
        }, 'emails', locale|default('en'))|raw }}
    </p>

    <button class="large expand"
            href="mailto:{{ 'contact_email'|trans({}, 'global', locale|default('en'))|raw }}">
        {{ 'transactional.notification.subscription_expiration.ask_us'|trans({}, 'emails', locale|default('en')) }}
    </button>

    <p>
        {{ 'transactional.notification.subscription_expiration.ask_us'|trans({}, 'emails', locale|default('en')) }}
    </p>

    <spacer size="16"></spacer>

    <p>
        {{ 'transactional.notification.footer'|trans({}, 'emails', locale|default('en')) }}
    </p>
{% endblock %}
