{% extends 'emails/community/organization_base.html.twig' %}

{% block metas %}
    <title>{{ 'community.reset.title'|trans({}, 'emails', locale|default('en')) }}</title>
{% endblock %}

{% block stylesheets %}
    {{ include('emails/community/style/custom.css.twig', {
        primary: primary_color|default('000000'),
        secondary: secondary_color|default('000000'),
        third: third_color|default('000000'),
    })|raw }}
{% endblock %}

{% block header %}
    {% if not logo_pathname %}
        <h1 class="text-center">
            {{ organization_name }}
        </h1>
    {% elseif website_enabled %}
        <a href="{{ homepage_url }}" target="_blank">
            <center>
                <img src="{{ cdn_image_url(logo_pathname) }}" class="logo" alt="{{ organization_name }}" />
            </center>
        </a>
    {% else %}
        <center>
            <img src="{{ cdn_image_url(logo_pathname) }}"
                 class="logo" alt="{{ organization_name }}" />
        </center>
    {% endif %}
{% endblock %}

{% block content %}
    <h4>
        {{ 'community.reset.title'|trans({}, 'emails', locale|default('en')) }}
    </h4>

    <spacer size="16"></spacer>

    <p>
        {{ 'community.reset.desc'|trans({}, 'emails', locale|default('en')) }}
    </p>

    <spacer size="16"></spacer>

    <button class="large expand"
            href="{{ redirect_url }}">
        {{ 'community.reset.link'|trans({}, 'emails', locale|default('en')) }}
    </button>
{% endblock %}

{% block footer %}
    <center>
        <menu>
            {% if social_facebook_url %}
                <item>
                    <a href="{{ social_facebook_url }}" target="_blank">
                        <img src="cid:social-facebook" class="social-link" alt="Facebook" />
                    </a>
                </item>
            {% endif %}

            {% if social_twitter_url %}
                <item>
                    <a href="{{ social_twitter_url }}" target="_blank">
                        <img src="cid:social-twitter" class="social-link" alt="Twitter" />
                    </a>
                </item>
            {% endif %}

            {% if social_instagram_url %}
                <item>
                    <a href="{{ social_instagram_url }}" target="_blank">
                        <img src="cid:social-instagram" class="social-link" alt="Instagram" />
                    </a>
                </item>
            {% endif %}

            {% if social_linkedin_url %}
                <item>
                    <a href="{{ social_linkedin_url }}" target="_blank">
                        <img src="cid:social-linkedin" class="social-link" alt="LinkedIn" />
                    </a>
                </item>
            {% endif %}

            {% if social_youtube_url %}
                <item>
                    <a href="{{ social_youtube_url }}" target="_blank">
                        <img src="cid:social-youtube" class="social-link" alt="Youtube" />
                    </a>
                </item>
            {% endif %}

            {% if social_medium_url %}
                <item>
                    <a href="{{ social_medium_url }}" target="_blank">
                        <img src="cid:social-medium" class="social-link" alt="Medium" />
                    </a>
                </item>
            {% endif %}

            {% if social_telegram_url %}
                <item>
                    <a href="{{ social_telegram_url }}" target="_blank">
                        <img src="cid:social-telegram" class="social-link" alt="Telegram" />
                    </a>
                </item>
            {% endif %}
        </menu>
    </center>

    <spacer size="16"></spacer>

    <p class="text-center">
        © {{ 'now'|date('Y') }} {{ 'community.footer.copyright'|trans({}, 'emails', locale|default('en')) }}
        <br />
        {{ legal_gdpr_name }} {{ legal_gdpr_address }}
    </p>

    <p class="text-center">
        {{ 'community.footer.legalities'|trans({ '%email%': legal_email }, 'emails', locale|default('en')) }}

        {% if website_enabled %}
            <br />
            <br />
            {{ 'community.footer.policy'|trans({}, 'emails', locale|default('en')) }}
            <a href="{{ homepage_url }}" target="_blank">
                {{ homepage_url }}
            </a>
        {% endif %}
    </p>
{% endblock %}
