{% extends 'base.html.twig' %}

{% block body_class 'full-height' %}

{% block page_title '404.title'|trans({}, 'errors') %}

{% block body %}
    <div class="security">
        <div class="security-box">
            <div class="mt-5 mb-5 text-center">
                <a href="{{ path('homepage_redirect') }}">
                    <img src="{{ platform_logo) }}"
                         class="security-logo" alt="{{ console_name|default(platform_name) }}" />
                </a>
            </div>

            <div class="world-box">
                <div class="p-4">
                    <h4 class="mb-4 text-center">{{ '404.title'|trans({}, 'errors') }}</h4>

                    <div class="alert alert-danger border-0 text-center mb-5">
                        {{ '404.help'|trans({}, 'errors') }}
                    </div>

                    <div class="text-center">
                        <a href="{{ path('homepage_redirect') }}" class="btn btn-primary">
                            {{ '404.back'|trans({}, 'errors') }}
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-5 pt-5 text-center">
                <small class="text-muted">
                    <a href="mailto:{{ platform_email }}"
                       class="text-muted">{{ 'contact_us'|trans({}, 'global') }}</a>
                    |
                    {{ 'now'|date('Y') }} © {{ platform_legal_name }}
                </small>
            </div>
        </div>
    </div>
{% endblock %}
